.Star{
    height: 250px;
    background-color: mediumslateblue;
}
.Foksiyu{
    height: 200px;
    background-color: midnightblue;
     width: 1000;
}
.Starfall{
    height: 100px;
    background-color: rebeccapurple;
    width: 370px;
    display: inline-block;
}
.Sckott{
height: 100px;
background-color: dimgrey;
width: 370px;
display: inline-block;
}
.Kristall{
    height: 250px;
    background-color: cornflowerblue;
}